.question {
  font-size: 1.25rem;
  margin: 10px;
  text-align: left;
  line-height: 30px;
  padding: 10px;
  max-width: 1200px;
  background-color: var(--questionBoxColor);
}

.answer {
  line-height: 30px;
  text-align: left;
  padding: 10px;
  max-width: 1200px;
  font-weight: medium;
  background-color: var(--answerBoxColor);
}

.qADiv {
  display: flex;
  justify-content: center;
}

.threadTitle {
  font-size: 3rem;
  margin-bottom: 40px;
  text-transform: capitalize;
}

.flairTitle {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.25em;
}

.authorName {
  display: flex;
  font-size: 1.25rem;
}